body {
    background-color: rgb(192, 192, 192);
    padding: 10px;
}

img {
    height: 90px;
    width: 90px;
    
}

h1 {
    
    text-align: center;
}

p {
    font-family: "Display";
    text-indent: 50px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 20px;
    
}
