*{
    padding: 0;
    margin: 0;
}


.game{
    background-color: whitesmoke;
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    
}

body{
    background-color: gray;
}


.blokje1{
    background-color: darkblue;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 0;
}
.blokje1-animatie{
    animation: blokje1 0.5s linear;
}


.blokje2{
    background-color: darkgreen;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 1000px;
}
.blokje2-animatie{
    animation: blokje2 1.5s linear infinite;        /* Toevoegen animatie. */
}

.blokje3{
    background-color: darkgreen;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 1500px;
}
.blokje3-animatie{
    animation: blokje3 1.5s linear infinite;        /* Toevoegen animatie. */
}



@keyframes blokje2{         /* De blokje beweegt naar rechts. */
    0%{left:1800px;}
    100%{left:1000px;} 
}

@keyframes blokje3{          /* De blokje beweegt naar rechts. */
    0%{left:1000px;}
    100%{left:-40px;}
}

@keyframes blokje1{         /* De blokje springt. */
    0%{bottom:0px;}
    25%{bottom:70px;}
    75%{bottom:70px;}
    100%{bottom:0px;}
}