*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #232323;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header a {
    color: #fff;
    text-decoration: none;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 10px;
}

header nav ul li a:hover {
    background-color: rgb(253, 253, 253);
    color: #232323;
    padding: 5px 10px;
    border-radius: 5px;
}

header nav ul li ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li ul li {
    margin: 5px 0;
}

main {
    padding: 20px;
}

h1 {
    margin-top: 50px;
    text-align: center;
}

h1{
    text-align: center;
}

.div1{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.personalia, .contact, .talen, .hobbys{
    margin-left: 15rem;
    width: 300px;
}

.opleidingen, .werkervaring, .skills{
    margin-right: 15rem;
    width: 550px;
}

h2{
    background-color: rgb(7, 7, 69);
    color: white;
    height: 40px;
    align-items: center;
}

p{
    background-color: whitesmoke;
    margin-top: 0.5rem;
}


.div2{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}


.div3{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.div4{
    margin-top: 4rem;
    margin-bottom: 4rem;
}


.talen p i{
    font-size: 10px;
    margin-inline: 5px;
}

body{
    background-color: lightgrey;
}

